.skills{
    &_content_wrapper{
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
        gap: 20px;

        .progressbar_wrapper{
            padding-top: 50px;
            p{
                font-size: 1.5rem;
                color: var(--main-color);
            }
        }
    }
}

@media only screen and (max-width:550px){
    .skills{
        &_content_wrapper{
            grid-template-columns: auto;
        }
    }
}