@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root{
    --background-color : #1d1d1d;
    --main-color:#ffdd40;
    --sub-text-color:#ffffff;
    --nav-background-color:#181818;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background-color: var(--background-color);
    height: 100%;
}

#root{
    height: 100%;
}